<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>VJ Interface</title>
  <script src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
  Buttons and sliders and stuff go here

  <h1>super cool vj interface</h1>

  <div class="modeBox">
    <h2>Gif Mode</h2>
    <input type="checkbox">on/off</input>
    <p>gif keyword: <input type="text"></input></p>

  </div>

  <div class="modeBox">
    <h2>Abstract Visual Mode</h2>
    <input type="checkbox">on/off</input>
    <h3>Foreground Color</h3>
    <p>Hue
      <input type="range" min="0" max="360"></input>
    </p>
    <p>Saturation
      <input type="range" min="0" max="100"></input>
    </p>
    <p>Lightness
      <input type="range" min="0" max="100"></input>
    </p>
    <h3>Background Color</h3>
    <p>Hue
      <input type="range" min="0" max="360"></input>
    </p>
    <p>Saturation
      <input type="range" min="0" max="100"></input>
    </p>
    <p>Lightness
      <input type="range" min="0" max="100"></input>
    </p>
    <h3>Shapes</h3>
    <input type="checkbox">Squares</input>
    <input type="checkbox">Circles</input>
    <input type="checkbox">Triangles</input>
    <input type="checkbox">Squiggles</input>
    <input type="checkbox">Arcs</input>
  </div>

</body>

</html>
