body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

img {
  padding: 20px;
  width: 85%;
  max-height: 85%;
}

h1 {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#currentSong {
  background: white;
  padding: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
}

#play {
  width: 80px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  
}

button {
  padding: 5px;
  width: 100px;
  font-size: 14px;
}

#playlist {
  width: 50%;
}

audio {
  visibility: hidden;
}
